/*Modal Infos*/
.Contacts_modal {width: 100%;height: 100%;background: #FFFFFF;}
.Info_modal, .Menu_modal{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 4rem 1.5rem;
}
.Info_modal label.form-label{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 13px;
    color: #000000;
    opacity: 0.4;
}
.Info_modal button{
    font-weight: bold;
    font-size: 0.8em;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 1px 4px rgba(121, 139, 149, 0.440274);
    border-radius: 3px;
}
.Client_card button{color: #000000;}
.Info_modal input{background: #F1F1F1;border-radius: 3px;border: none;font-weight: 300;font-size: 14px;line-height: 16px;}
.Save_modal{color: #FFFFFF;background: #8D43FF;border: none;padding: .7rem 2rem!important;}
#dropdown-basic-button{padding: .7rem 2rem;}
.hover{display: none;}
.Save_Status div.dropdown button{float: right;}


