/*Classes for Modal*/
.ModalWindow {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0, .5);
  justify-content: center;
  display: flex;
  box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.0904665);
}
.ModalWindow-body{
  padding: 0;
  width: 80%;
  background: #fff;
  height: 700px;
  margin: auto 0;
  border-radius: 10px;
  overflow: hidden;
}
.Close_modal{
  position: relative;
  padding: 1em;
  float: right;
  margin-left: -100px;
  z-index: 2;
}
.Close_modal svg:hover{cursor:pointer}
.Close_modal svg{height: 2em;width: 2em;}
.ModalWindow-left {float: left;width: 30%;height: 100%;}
.ModalWindow-right {float: left;width: 70%;height: 100%;border-radius: 10px;}


/*Modal Infos*/
.Contacts_modal {width: 100%;height: 100%;background: #FFFFFF;}
.Menu_modal {
  width: 100%;
  height: 100%;
  background: #F7F7F7;
  border-radius:0 10px 10px 0;
}
.Info_modal, .Menu_modal{
  height: 100%;
  width: 100%;
  position: relative;
  padding: 4rem 1.5rem;
}
.Info_modal label.form-label{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8em;
  line-height: 13px;
  color: #000000;
  opacity: 0.4;
}
.Info_modal button{
  font-family: Roboto;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0px 1px 4px rgba(121, 139, 149, 0.440274);
  border-radius: 3px;
}
.Client_card button{color: #000000;}
.Info_modal input{background: #F1F1F1;border-radius: 3px;border: none;}
.Save_modal{color: #FFFFFF;background: #8D43FF;border: none;padding: .5rem .2rem!important;}
#dropdown-basic-button{padding: .5rem 1rem;}
.hover{display: none;}
.Buttons_modal_save{
  position: absolute;
  bottom: 2rem;
  width: 100%;
  margin-bottom:0;
  padding-right: 3rem;
}
.Save_Status div.dropdown button{float: right;}
.Menu_List_Name_value{
  padding: 1em;
  background: #FFFFFF;
  box-shadow: 0px 2px 11px rgba(56, 62, 68, 0.0862772);
  border-radius: 4px;
}
.btn-sm{padding: .1rem 2rem;text-transform: uppercase;border-radius: unset;}
.paddingGrid{padding: .5rem 1rem}
.paddingGridTime{padding: .5rem .2rem}

/*Modal Menus*/
.Image_menus{
  width: 2em;
  padding: 0.3em;
  background: radial-gradient(66.21% 66.21% at 50% 56.8%, #FFE7DB 0%, #FFD6C0 100%);
  border-radius: 1em;
  float: left;
}
.Name_menus{padding-top: 0.3em;float:left;padding-left: 1em;}
.Price_menus{
  background: #ffffffbf;
  border-radius: 0 0 10px 10px;
  margin:0 1.5em;
  padding: .3em 0;
  text-align:center;
}
.Li_menus{margin-bottom: 1.5em;}
.Value_menus{float:right;cursor:pointer;}
.Arrows_menus{background: #F1F1F1;margin:0 1em;border-radius: 1em;cursor:pointer;}
.Add_New_Products_List{display: flex;justify-content: space-between;padding: .2rem 2rem;border: none;}
.Add_New_Products_List:hover{cursor: pointer;background: #F1EEF7;}
.Menu_List_Name_value>.disabled:first-child{
  text-transform: uppercase;
  font-weight: bold;
  font-size: .75rem;
  color: #212529;
}
.Menu_List_Name_value>.active{background: #F1EEF7;color: #000000;}
.List_Total_Specialists{
  position: relative;
  overflow-y: scroll;
  max-height: 25rem;
}
.New_Products{
  position: relative;
  overflow-y: scroll;
  height: 10rem;
  z-index: 10;
}
.New_Products>.Menu_List_Name_value{position: absolute;width: 100%;}
/*Beauty Scroll*/
.New_Products::-webkit-scrollbar-track, .List_Total_Specialists::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);background-color: #f5f5f5;}
.New_Products::-webkit-scrollbar, .List_Total_Specialists::-webkit-scrollbar{width: .4rem;background-color: #f5f5f5}
.New_Products::-webkit-scrollbar-thumb, .List_Total_Specialists::-webkit-scrollbar-thumb{ border-radius: .2rem;-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.1);background-color: #c5bdbd;}

